.name__textbox, .main__button {
  letter-spacing: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-family: inherit;
  outline: inherit;
  cursor: pointer;
}

body {
  background-color: #1C0A33;
  font-family: "Exo 2", sans-serif;
  font-size: 12px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.hidden {
  display: none;
}

.reveal {
  animation: fade-up 1000ms ease-in-out forwards;
}

@keyframes loading-appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes loading-pulse {
  from {
    opacity: 100%;
  }
  to {
    opacity: 50%;
  }
}
@keyframes loading-disappear {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes ufo-enter {
  0% {
    transform: translateX(60vw) rotate(-45deg);
  }
  100% {
    transform: translateY(-10px) translateX(0);
  }
}
@keyframes ufo-hover {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}
@keyframes ufo-beam {
  0% {
    opacity: 0%;
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%);
  }
  40% {
    opacity: 100%;
    clip-path: polygon(50% 0%, 35% 100%, 65% 100%);
  }
  45% {
    opacity: 50%;
  }
  50% {
    opacity: 75%;
  }
  55% {
    opacity: 50%;
  }
  60% {
    opacity: 100%;
    clip-path: polygon(50% 0%, 35% 100%, 65% 100%);
  }
  100% {
    opacity: 0%;
    clip-path: polygon(50% 0%, 50% 100%, 50% 100%);
  }
}
@keyframes cow-beamup {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50vh) rotate(60deg) scale(0.6);
  }
}
@keyframes ufo-exit {
  0% {
    transform: translateY(-10px) translateX(0);
  }
  100% {
    transform: translateY(0) translateX(-60vw) rotate(-30deg);
  }
}
@keyframes fade-up {
  from {
    transform: translateY(100vh);
    opacity: -1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-scale {
  from {
    transform-origin: center;
    transform: scale(0);
    opacity: -1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.loading {
  background-color: #1C0A33;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading__text {
  position: absolute;
  width: 20vw;
  animation: loading-appear 1000ms ease-out forwards, loading-pulse 1000ms ease-in-out 1000ms alternate infinite, loading-disappear 1000ms ease-in 9100ms forwards;
}
.loading__ufo {
  position: absolute;
  min-width: 100px;
  width: 15vw;
  z-index: 2;
  animation: ufo-enter 1000ms ease-out forwards, ufo-hover 1000ms ease-in-out 1000ms alternate infinite, ufo-exit 1000ms ease-in 9100ms forwards;
}
.loading__beam {
  align-self: flex-end;
  position: absolute;
  background-color: #BFF799;
  width: 100%;
  height: 50vh;
  clip-path: polygon(50% 0%, 50% 100%, 50% 100%);
  animation: ufo-beam 8000ms ease-in-out 1100ms forwards;
}
.loading__cow {
  position: absolute;
  align-self: flex-end;
  width: 10vw;
  animation: cow-beamup 4800ms ease-in-out 3100ms forwards;
}

.dashboard__initialize, main {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100vh;
  width: 100vw;
  padding: 20px;
}

.dashboard {
  background-color: rgba(191, 247, 153, 0.1);
  border: 5px solid #BFF799;
  height: 100%;
  width: 100%;
  color: #BFF799;
}
.dashboard--on {
  height: 100%;
  width: 100%;
}
.dashboard--off {
  display: none;
}
.dashboard--reveal {
  animation: fade-scale 1000ms ease-in-out forwards;
}
.dashboard__initialize {
  height: 100%;
}
.dashboard__program {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: [exit-start] 55px [exit-end main-start] 1fr [main-end info-start] 55px [info-end];
}

.name__textbox {
  margin: 10px;
  min-width: 20vw;
  padding: 10px;
  border: 5px solid #BFF799;
  background-color: #BFF799;
  transition: background-color 0.5s;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  font-size: 2em;
  color: #1C0A33;
}
.name__textbox:focus, .name__textbox:hover {
  background-color: transparent;
  color: #BFF799;
}
.name__button {
  fill: #BFF799;
  background-color: transparent;
  transition: transform 0.5s;
}
.name__button:hover {
  transform: translateX(8px);
}
.name__test {
  align-self: flex-end;
  margin-bottom: 20px;
}

.program__close {
  grid-row: exit-start/exit-end;
  display: flex;
  padding: 10px;
}
.program__close svg {
  height: 35px;
  fill: #BFF799;
  margin-right: 10px;
}
.program__close p {
  font-size: 1.75em;
  align-self: center;
  transform: translateY(-2px);
}
.program__main {
  grid-row: main-start/main-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-size: 1.5em;
  text-align: center;
}
.program__info {
  grid-row: info-start/info-end;
  width: 100%;
  border-top: 5px solid #BFF799;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 1.75em;
}
.program__info div {
  font-weight: 100;
}
.program__info div b {
  font-weight: 400;
  text-transform: uppercase;
}

.main__message p {
  margin-bottom: 10px;
}
.main__message p:last-child {
  margin-bottom: 0px;
}
.main__scanner {
  height: 60%;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__button {
  font-size: 1.25em;
  border: 4px solid #BFF799;
  padding: 10px 20px 10px 30px;
  margin-bottom: 20px;
  transition: background-color 500ms, color 500ms;
}
.main__button:hover {
  background-color: #BFF799;
  color: #1C0A33;
}

.btnInvert {
  background-color: #BFF799;
  color: #1C0A33;
}

.scanner__line {
  background-color: #BFF799;
  width: 10px;
  height: 100%;
  filter: blur(3px);
}
.scanner__content {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 10px;
  margin-right: 20px;
}
.scanner__content--silhouette {
  position: absolute;
  width: inherit;
  align-self: center;
}
.scanner__content--skeleton {
  position: absolute;
  width: inherit;
  align-self: center;
}

.info__location {
  text-transform: uppercase;
}
.info__distance {
  margin-right: 20px;
  margin-left: 20px;
  flex-grow: 2;
}

.scanner__line {
  transform: translateX(-25px);
  z-index: 100;
}
.scanner__line.animate {
  animation: scanner-flicker 500ms ease 600ms infinite, move-scanner-line-before 400ms linear 600ms forwards, move-scanner-line-main 6650ms linear 1000ms forwards, move-scanner-line-after 400ms linear 7650ms forwards;
}

.scanner__content--skeleton {
  clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
}
.scanner__content--skeleton.animate {
  animation: skeleton-scanner 6650ms linear 1000ms forwards;
}

@keyframes scanner-flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes move-scanner-line-before {
  from {
    transform: translateX(-25px);
  }
  to {
    transform: translateX(15px);
  }
}
@keyframes move-scanner-line-main {
  from {
    transform: translateX(15px);
  }
  to {
    transform: translateX(680px);
  }
}
@keyframes move-scanner-line-after {
  from {
    transform: translateX(680px);
  }
  to {
    transform: translateX(720px);
  }
}
@keyframes skeleton-scanner {
  from {
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
  to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

/*# sourceMappingURL=style.css.map */
